.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0%;
  padding: 0%;
}

.header {
  background-color: rgb(50, 50, 50);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.header .inputContainer {
  display: flex;
  flex-direction: column;
}

.header input {
  width: 200px;
  height: 40px;
  border: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid grey;
}

.header button {
  width: 70px;
  height: 87px;
  border: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding-left: 10px;
  cursor: pointer;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: 200px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-weight: 100;
  text-align: center;
}


thead{
  background-color: rgb(41, 41, 41);
  color: #fff;
  font-weight: 200;
}

th button{
  background-color: rgb(255, 95, 95);
  border-radius: 50%;
  border: none;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}



.task button {
  flex: 20%;
  border: none;
  background-color: lightseagreen;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  cursor: pointer;
}